img {
  width: auto;
  height: 330px;
  max-height: 330px;
  min-height: 330px;
  overflow: hidden;
  margin: 0 auto;
}
body {
  background-color: #4ABDAC;
}

.row {
  background-color: lightgrey;
}
button {
  display: flex;
  justify-content: baseline;
}
